
    <header>
        <div class="titulo">PetShow</div>
    </header>

    <nav>
        <button class="nav-button"><a href="/animais">Animais</a></button>
        <button class="nav-button"><a href="/veterinario">Veterinários</a></button>
        <button class="nav-button"><a href="/sobre">Sobre</a></button>
    </nav>
    