
    <div class="container">
        <header>
            <h1>Sobre o PetShop</h1>
        </header>
        <nav>
            <button><a href="/">Início</a></button>
        </nav>

        <section>
            <h2>Sobre Nós</h2>
            <p>Bem-vindo ao PetShop Felicidade Animal, o lugar onde seu pet encontra tudo o que precisa! Fundado em 2022, nosso petshop tem o objetivo de oferecer produtos e serviços de qualidade para o bem-estar do seu animal de estimação. De ração e brinquedos a cuidados especiais, temos uma ampla gama de produtos que atendem a todas as necessidades do seu amigo de quatro patas.</p>

            <p>Nosso petshop está localizado no coração da cidade Ubá, na Rua dos Animais, 123. Em um ambiente acolhedor e moderno, nossa equipe está sempre pronta para oferecer atendimento personalizado e ajudar você a encontrar o que há de melhor para seu pet. </p>

            <p>Venha nos visitar e descubra por que somos a escolha preferida dos amantes de pets em Ubá. Estamos ansiosos para receber você e seu animal!</p>
        </section>

        <footer>
            &copy; 2024 PetShop IF Sudeste - Vandercassio - Todos os direitos reservados.
        </footer>
    </div>